# Server basics
PORT=
NODE_ENV=
ALLOWED_ORIGINS=
CLIENT_URL=

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Sessions
SESSION_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
ALLOWED_EMAILS= #["email1@provider.com", "email2@provider.com"]

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
CONTACT_RECIPIENT=

# Uploads
UPLOAD_DIR=
MAX_FILE_SIZE_MB=